@model School.WEB.ViewModels.ManageTeacher.GetTeachers.GetTeachersViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<partial name="_OperationMessage" for="@Model.OperationResult"/>

<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Manage <b>Teachers</b></h2>
                </div>
                <div class="col-sm-6">
                    <a asp-action="@nameof(ManageTeacherController.CreateTeacher)" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i> 
                        <span>Add New Teacher</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.Teachers)
            {<tr>
                 <td>
                     <a asp-action="@nameof(ManageTeacherController.DetailsTeacher)" asp-route-id="@item.Id">
                         <img height="50" src="@item?.Image" alt="avatar"/>
                     </a>
                 </td>
                 <td>
                     @item.FirstName
                 </td>
                 <td>
                     @item.LastName
                 </td>
                 <td>
                     @item.Age
                 </td>
                 <td>
                     @item.Gender
                 </td>
                 <td>
                     <a asp-action="@nameof(ManageTeacherController.EditTeacher)" asp-route-id="@item.Id" class="edit">
                         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                     </a>
                     <a asp-action="@nameof(ManageTeacherController.DeleteTeacher)" asp-route-id="@item.Id" class="delete">
                         <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                     </a>
                     <a asp-action="@nameof(ManageTeacherController.DetailsTeacher)" asp-route-id="@item.Id" class="details">
                         <i class="material-icons" data-toggle="tooltip" title="Details">&#xe417;</i>
                     </a>
                 </td>
             </tr>}
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin" class="btn btn-warning">
        Back to Admin form
    </a>
</div>
</body>