@using School.WEB.Controllers
@model School.WEB.ViewModels.ManageTeacher.GetTeachers.GetTeachersViewModel
@using School.WEB.Extensions

@{ var operation = (OperationResult<string>)ViewBag.Result;}

@if (operation != null)
{
    var statusMessageClass = operation.Success ? "success" : "danger";
    
    <div class="alert alert-@statusMessageClass js-alert-operation-result" role="alert">
        @operation.Result
    </div>
    
    if (operation.Success)
    {
        <script type="text/javascript">
            setTimeout(function () {
                document.getElementsByClassName('js-alert-operation-result')[0].remove()
            }, 8000);
        </script>
    }
}

@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
    <a asp-action="@nameof(ManageTeacherController.CreateTeacher)">
        Create
    </a>
</td>

<h1>Teachers list</h1>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Teachers)
    {
        <tr>
            <td>
                <img height="50" src="@item?.Image" alt="avatar"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="@nameof(ManageTeacherController.EditTeacher)" asp-route-id="@item.Id">
                    Edit
                </a>
                <a asp-action="@nameof(ManageTeacherController.DeleteTeacher)" asp-route-id="@item.Id">
                    Delete
                </a>
                <a asp-action="@nameof(ManageTeacherController.DetailsTeacher)" asp-route-id="@item.Id">
                    Details
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin">
        Back to Admin form
    </a>
</div>