@model School.WEB.ViewModels.Student.ShowClassmates.ShowClassmatesViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "ShowClassmates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Classmates</h1>

@{
    if (Model != null)
    {
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>
                    <p>First Name</p>
                </th>
                <th>
                    <p>Last Name</p>
                </th>
                <th>
                    <p>Age</p>
                </th>
                <th>
                    <p>Gender</p>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>
                        <img height="50" src="@item.Image" alt="avatar"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>This student doesn't have classmates</p>
    }
}
<div>
    <a asp-action="@nameof(TeacherController.Index)">
        Back to categories
    </a>
</div>