@model School.WEB.ViewModels.ManageStudent.GetStudents.GetStudentsViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "GetStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<script>
    var action = 'DeleteStudent';
</script>

<script type="text/javascript" src="/js/deleteConfirm.js"></script>

<partial name="_OperationMessage" for="@Model.OperationResult"/>
<partial name="_DeleteConfirm"/>

<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div>
                    <h2>Manage <b>Students</b></h2>
                </div>
                <div class="container text-center">
                    <a asp-action="@nameof(ManageStudentController.CreateStudent)" class="btn btn-success">
                        <i class="material-icons">&#xE147;</i> 
                        <span>Add New Student</span>
                    </a>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Avatar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var item in Model.Students)
            {<tr>
                 <td>
                     <a asp-action="@nameof(ManageStudentController.DetailsStudent)" asp-route-id="@item.Id">
                         <img height="50" src="@item?.Image" alt="avatar"/>
                     </a>
                 </td>
                 <td>
                     @item.FirstName
                 </td>
                 <td>
                     @item.LastName
                 </td>
                 <td>
                     @item.Age
                 </td>
                 <td>
                     @item.Gender
                 </td>
                 <td>
                     <input type="checkbox" onclick="return false;" checked = "@item.Active">
                 </td>
                 <td>
                     <a asp-action="@nameof(ManageStudentController.EditStudent)" asp-route-id="@item.Id" class="edit">
                         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                     </a>
                     <a href="#" onclick="deleteConfirm('@string.Join(" ",item.FirstName, item.LastName)',@item.Id)" class="delete">
                         <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                     </a>
                     <a asp-action="@nameof(ManageStudentController.DetailsStudent)" asp-route-id="@item.Id" class="details">
                         <i class="material-icons" data-toggle="tooltip" title="Details">&#xe417;</i>
                     </a>
                 </td>
             </tr>}
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin"  class="btn btn-warning">
        Back to Admin form
    </a>
</div>
</body>