@model School.WEB.ViewModels.Student.Index.IndexViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_OperationMessage" for="@Model.OperationResult"/>

<h1>It's all student. Please edit only your data</h1>

<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>
            Full Name
        </th>
        <th>
            Active
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                <a asp-action="@nameof(StudentController.StudentDetails)" asp-route-id="@item.Id" class="details">
                    <img height="50" src="@item.Image" alt="avatar"/>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <input type="checkbox" onclick="return false;" checked = "@item.Active">
            </td>
            <td>
                <a asp-action="@nameof(StudentController.StudentDetails)" asp-route-id="@item.Id" class="btn btn-primary">
                    <span>Details</span>
                </a>
                <a asp-action="@nameof(StudentController.ShowClassmates)" asp-route-id="@item.Id" class="btn btn-secondary">
                    <span>Classmates</span>
                </a>
                <a asp-action="@nameof(StudentController.ShowClassTeacher)" asp-route-id="@item.Id" class="btn btn-success">
                    <span>Class teacher</span>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="@nameof(StudentController.Index)" class="btn btn-warning">
        Back to categories
    </a>
</div>