@using School.WEB.Controllers
@model School.WEB.ViewModels.Student.Index.IndexViewModel

@{
    ViewData["Title"] = "Classes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>It's all student. Please edit only your data</h1>

<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>
            Full Name
        </th>
        <th>Details / Classmates / ClassTeacher</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                <img height="50" src="@item.Image" alt="avatar"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-action="@nameof(StudentController.StudentDetails)" asp-route-id="@item.Id">
                    Details
                </a>
                <a asp-action="@nameof(StudentController.ShowClassmates)" asp-route-id="@item.Id">
                    Show classmates
                </a>
                <a asp-action="@nameof(StudentController.ShowClassTeacher)" asp-route-id="@item.Id">
                    Show class teacher
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}