@using School.WEB.Controllers
@model School.WEB.ViewModels.Student.ShowClassTeacher.ShowClassTeacherViewModel


@{
    ViewData["Title"] = "StudentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My class teacher</h1>

<img height="250" src="@Model.Image" alt="avatar"/>

<div>
    <h4>Teacher</h4>
    <hr/>
    @{
        if (Model != null)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    First Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    Last Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    Age
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    Gender
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
            </dl>
        }
        else
        {
            <p>This student doesn't have class and class teacher!!!</p>
        }
    }
</div>
<div>
    <a asp-action="@nameof(StudentController.Index)">
        Back to categories
    </a>
</div>