@model School.WEB.ViewModels.ManageClass.EditCreateClass.EditCreateClassViewModel
@using School.WEB.Controllers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_OperationMessage" for="@Model.OperationResult"/>

<h1>Create</h1>

<h4>Class</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="@nameof(ManageClassController.CreateClass)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" minlength="2" maxlength="5" required class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if ((ViewBag.ClassTeachers as SelectList)!.Any())
            {
                <div class="form-group">
                    <label asp-for="TeacherId" class="control-label"></label>
                    <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.ClassTeachers">
                        <option>-none-</option>
                    </select>
                </div>
            }
            <div class="form-group">
                <p>Students<p/>
                @Html.ListBoxFor(s => s.StudentIds, (MultiSelectList)ViewBag.Students)
            </div>
            <div class="form-group">
                <p>Teachers<p/>
                @Html.ListBoxFor(s => s.TeacherIds, (MultiSelectList)ViewBag.Teachers)
            </div>
            <div>
                <a asp-action="@nameof(ManageClassController.GetClasses)" class="btn btn-secondary" >
                    Back to List
                </a>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>