@model School.WEB.ViewModels.ManageClass.DetailsClass.DetailsClassViewModel
@using School.WEB.Controllers

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <p>Teacher</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            <p>Students</p>
        </dt>
        <dd class="col-sm-10">
            @Html.ListBox("students", new SelectList(Model.StudentNames))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="@nameof(ManageClassController.EditClass)" asp-route-id="@Model.Id">
        Edit
    </a>
    <a asp-action="@nameof(ManageClassController.DeleteClass)" asp-route-id="@Model.Id">
        Delete
    </a>
    <a asp-action="@nameof(ManageClassController.GetClasses)">
        Back to List
    </a>
</div>