@model School.WEB.ViewModels.ManageClass.GetClasses.GetClassesViewModel
@using School.WEB.Controllers
@using School.WEB.Extensions

@{ var operation = (OperationResult<string>)ViewBag.Result;}

@if (operation != null)
{
    var statusMessageClass = operation.Success ? "success" : "danger";
    
    <div class="alert alert-@statusMessageClass js-alert-operation-result" role="alert">
        @operation.Result
    </div>
    
    if (operation.Success)
    {
        <script type="text/javascript">
            setTimeout(function () {
                document.getElementsByClassName('js-alert-operation-result')[0].remove()
            }, 8000);
        </script>
    }
}

@{
    ViewData["Title"] = "GetClasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
    <a asp-action="@nameof(ManageClassController.CreateClass)">
        Create
    </a>
</td>

<h1>Classes list</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Classes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="@nameof(ManageClassController.EditClass)" asp-route-id="@item.Id">
                    Edit
                </a>
                <a asp-action="@nameof(ManageClassController.DeleteClass)" asp-route-id="@item.Id">
                    Delete
                </a>
                <a asp-action="@nameof(ManageClassController.DetailsClass)" asp-route-id="@item.Id">
                    Details
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin">
        Back to Admin form
    </a>
</div>
