@using School.WEB.Controllers
@model School.WEB.ViewModels.Visitor.ClassDetails.ClassDetailsViewModel

@{
    ViewData["Title"] = "ClassDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <p>Teacher</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class="col-sm-2">
            <p>Students</p>
        </dt>
        <dd class="col-sm-10">
            @Html.ListBox("students", new SelectList(Model.StudentNames))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="@nameof(VisitorController.GetClasses)">
        Back to List
    </a>
    <a asp-action="@nameof(VisitorController.Index)">
        Back to categories
    </a>
</div>