@model School.WEB.ViewModels.Visitor.ClassDetails.ClassDetailsViewModel
@using School.WEB.Controllers

@{
    ViewBag.Title = "Class details";
    Layout = "_Layout";
    var i = 1;
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <p>Class teacher</p>
        </dt>
        <dd class="col-sm-10">
            @if (Model.ClassTeacher != null)
            {
                @Html.ActionLink(Model.ClassTeacher.FullName,"TeacherDetails","Visitor", new {id = Model.ClassTeacher.Id})
            }
            else
            {
                <label>no teacher</label>
            }
        </dd>
        <dd class="col-sm-6">
            @if (Model.StudentNames.Any())
            {
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            Students
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach(var student in Model.StudentNames)
                    {
                        <tr>
                            <th scope="row">
                                @i
                                @{
                                    i++;
                                }
                            </th>
                            <td>
                                <p>@student</p>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>No students</p>
            }
        </dd>
        @{
            i = 1;
        }
        <dd class="col-sm-6">
            @if (Model.Teachers.Any())
            {
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            Teachers who teach in the classroom
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var teacher in Model.Teachers)
                    {
                        <tr>
                            <th scope="row">
                                @i
                                @{
                                    i++;
                                }
                            </th>
                            <td>
                                @Html.ActionLink(teacher.FullName,"TeacherDetails","Visitor",new {id = teacher.Id})
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            }
            else
            {
                <p>No teachers</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="@nameof(VisitorController.GetClasses)" class="btn btn-secondary">
        Back to List
    </a>
    <a asp-action="@nameof(VisitorController.Index)" class="btn btn-warning">
        Back to categories
    </a>
</div>