@using School.WEB.Controllers
@model School.WEB.ViewModels.Visitor.GetTeachers.GetTeachersViewModel

@{
    ViewData["Title"] = "GetTeachers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Teachers list</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Image
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Age
        </th>
        <th>
            Gender
        </th>
        <th>
            Details
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Teachers)
    {
        <tr>
            <td>
                <img height="50" src="@item?.Image" alt="avatar" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="@nameof(VisitorController.TeacherDetails)" asp-route-id="@item.Id">
                    Details
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="@nameof(VisitorController.Index)">Back to categories</a>
</div>