@model (School.BLL.Dto.TeacherDto teacher, string form, IEnumerable<string> subjects)

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Details</h1>

<img height="250" src="@Model.Item1?.Image" alt="avatar"/>

<div>
    <h4>Teacher</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item1.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.Gender)
        </dd>
        <dt class="col-sm-2">
            <p>Class</p>
        </dt>
        <dd class="col-sm-10">
            @if (Model.Item2 != "no class")
            {
                @Html.DisplayFor(model => model.Item2)
            }
            else
            {
                <p>no class</p>
            }
        </dd>
        <dt class="col-sm-2">
            <p>Subjects</p>
        </dt>
        <dd class="col-sm-10">
            @Html.ListBox("subjects", new SelectList(Model.Item3))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditTeacher" asp-route-id="@Model.teacher.Id">Edit</a>
    <a asp-action="DeleteTeacher" asp-route-id="@Model.teacher.Id">Delete</a>
    <a asp-action="GetTeachers">Back to List</a>
</div>