@model IEnumerable<School.BLL.Dto.ClassDto>

@{
    ViewData["Title"] = "GetClasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<td>
    <a asp-action="CreateClass">Create</a>
</td>

<h1>Classes list</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditClass" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a asp-action="DeleteClass" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a asp-action="DetailsClass" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Admin form</a>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}