@using School.WEB.Controllers
@model School.WEB.ViewModels.Admin.GetSubjects.GetSubjectsViewModel

@{
    ViewData["Title"] = "GetSubjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
    <a asp-action="@nameof(AdminController.CreateSubject)">Create</a>
</td>

<h1>Subjects list</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Subjects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="@nameof(AdminController.EditSubject)" asp-route-id="@item.Id">Edit</a>
                <a asp-action="@nameof(AdminController.DeleteSubject)" asp-route-id="@item.Id">Delete</a>
                <a asp-action="@nameof(AdminController.DetailsSubject)" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="@nameof(AdminController.Index)">Back to Admin form</a>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}