@model IEnumerable<School.BLL.Dto.StudentDto>

@{
    ViewData["Title"] = "GetStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<td>
    <a asp-action="CreateStudent">Create</a>
</td>

<h1>Students list</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <a asp-action="EditStudent" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                <a asp-action="DeleteStudent" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a asp-action="DetailsStudent" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Admin form</a>
</div>